
body {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #77D099
}

.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  mix-blend-mode:screen;
  background-color: #77D099;
  /* background-color: #ffff; */

}
.color_back_first {
  position: absolute;
  z-index: 10;
  top:250px;
  left: 5%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  color: #d2e823;
}
.color_back_second {
  position: absolute;
  top:250px;
  right: 4%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  color: #d2e823;
}
