body {
  margin: 0;
  padding: 0;
  background-color: #77d099;
}

nav {
  margin: 40px 45px;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 51px;
  height: 41px;
}

.nav-links {
  width: 312px;

  font-family: "GT Zirkon Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  color: #d2e823;

  font-family: "GT Zirkon Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-align: right;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  scale: 0.98;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  min-width: 1638px;
  height: 631px;
  overflow: hidden;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 243px;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  mix-blend-mode: screen;
  background-color: #77d099;
  /* background-color: #ffff; */
}
.color_back_first {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 5%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  color: #d2e823;
}
.color_back_second {
  position: absolute;
  top: 25%;
  right: 4%;
  margin: 0;
  font-weight: bolder;
  font-size: 24vw;
  text-align: center;
  color: #d2e823;
}
