body {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  background-color: #011627;
  font-family: "GT-Zirkon-Regular", Helvetica, Arial, sans-serif;
}

body a {
  text-decoration: none;
  color: #77d099;
}

nav {
  margin: 40px 45px;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 51px;
  height: 41px;
}

.nav-links {
  width: 312px;

  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  color: #d2e823;

  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-align: right;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  scale: 0.98;
}

.wrapper {
  position: relative;
  display: inline-block;
}
.wrapper video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.blurEffect {
  -webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -moz-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

.content {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.play,
.pause {
  font-size: 50px;
  cursor: pointer;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 5px 25px;
}

.play:hover,
.pause:hover {
  color: red;
}
.card {
  background-color: #77d099;
  color: #011627;
  padding: 30px;
}
.card p {
  font-size: 20px;
}
.card h4 {
  font-size: 40px;
}

.last-card {
  padding: 0 45px;
  background: #011627;
  color: #77d099;
  display: flex;
  justify-content: space-between;
}

.last-card-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.last-card-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.splide {
  margin: 0 auto;
  max-height: 100%;
  height: fit-content;
}
.splide__slide {
  background-color: #011627;
  display: flex;
  padding: 100px 30px;
  padding-bottom: 0;
}
.splide__slide img,
.splide__slide .wrapper,
.splide__slide .card {
  width: 100%;
  border-radius: 10px;
}

.splide__arrow {
  height: 62px;
  width: 62px;
  background-color: #011627;
  opacity: 1;
}

.splide__arrow svg {
  background-color: #77d099;
  border-radius: 50%;
  width: 20px;
  padding: 5px;
}

video {
  object-fit: cover;
}

.splide__arrow--next {
  margin-right: 140px;
}

.splide__arrow--prev {
  margin-left: 140px;
}

li {
  height: 791px;
}

.splide__pagination--ltr {
  visibility: hidden;
}

.imageSlider {
  display: flex;
}

.splide__arrow:disabled {
  visibility: hidden;
}

.project-buttons {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
